.container {
    position: relative;
    margin: 0 auto;
    width: 540px;
    /* height: 64px; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.dark {
    background-color: hsl(235, 24%, 19%);
    box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
        -webkit-box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
        -moz-box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
}

.light {
    background-color: white;
    box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
        -webkit-box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
        -moz-box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
}

@media screen and (max-width: 375px) {
    .container {
        width: 327px;
    }
    .light {
        box-shadow: none;
    }
}


