.layout {
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
}

.dark {
    background-color: hsl(235, 21%, 11%);
}

.light {
    background-color: hsl(0, 0%, 98%);
}



.darkImg {
    background-image: url('/images/bg-desktop-dark.jpg');
    width: 1440px;
    height: 300px;
    z-index: 0;
    position: absolute;
}
    
.lightImg {
    background-image: url('/images/bg-desktop-light.jpg');
    width: 1440px;
    height: 300px;
    z-index: 0;
    position: absolute;
}
.content {
    padding-top: 100px;
}

.footer {
    width: 540px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
}

.darkFooter {
    background-color: hwb(235 15% 76%);}

.lightFooter {
    background-color: white;
}

@media screen and (max-width: 375px) {
    .footer {
        width: 100%;
        flex-direction: column;
    }
    .layout {
        width: 100%;
        margin: 0;
    }
    .content {
        padding-top: 5rem;
    }
    .darkImg {
        background-image: url('/images/bg-mobile-dark.jpg');
        width: 375px;
        height: 200px;
    }
    .lightImg {
        background-image: url('/images/bg-mobile-light.jpg');
        width: 375px;
        height: 200px;
    }
}