.container {
    position: relative;
    /* margin: 0 auto; */
    width: 100%;
    background-color: hwb(235 15% 76%);
    color: hsl(234, 39%, 85%);
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    cursor: pointer;
    color: white;
}

.container__AllActiveCompleted {
    display: flex;
    gap: 15px;

}


.darkFooter {
    background-color: hwb(235 15% 76%);
}

.lightFooter {
    background-color: white;
}

.lightFooter a {
    color: hsl(236, 9%, 61%);
}

@media screen and (max-width: 375px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        padding: 1rem;
        box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
        -webkit-box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
        -moz-box-shadow: -1px 5px 20px 10px rgba(157, 162, 235, 0.3);
        
    }
   
}